<h1>Dashboard</h1>

<body>

	<FORM METHOD="LINK" ACTION="recipes/new">
	<INPUT TYPE="submit" VALUE="Add Recipe">
	</FORM>

	<!-- This works -->
	<!-- "<%= link_to "Add Recipe", new_recipe_path %>" -->

	<FORM METHOD="LINK" ACTION="users/edit">
	<INPUT TYPE="submit" VALUE="Edit Profile">
	</FORM>	

</body>
