
<%=stylesheet_link_tag "recipes"%>
<div id="recipe_page">
	<h2 style="text-align:center;">Search For Recipes</h2>
	<div id="multiple_holder">
		<%= render partial: "show_multiple",  :locals=>{:recipes=>@recipes, :sort_type=> @sort_type, :current_state=>@current_state}%>

	</div>
	<div id="main">
		<%=render partial: "recipeLayout", locals: {} %>
	</div>
</div>


