<%=stylesheet_link_tag "recipes"%>
<div id="recipe_page">
	<h1> Search Recipes</h1>
	<div id="multiple_holder">
		<%= render partial: "show_multiple",  :locals=>{:recipes=>@recipes, :sort_type=> @sort_type, :current_state=>@current_state}%>
	</div>

	<%= render partial: "recipeLayout"%>

</div>