<%=stylesheet_link_tag "recipes"%>
<div id="multiple_holder">
  <div id="recipe">
    <%=render partial: "recipeDisplay", :locals=>{:recipe=>@recipe}%>
  </div>
  <div style="position:absolute;left: 30%;width: 45%;">
    <%=link_to "Surprise Me", surprise_path(), class: "surpriseMe"%>
  </div>
</div>    
