<%=stylesheet_link_tag "home"%>

<div id="middle_align">
	<h3>Take A Journey Around The World With Recipes From Around The Table</h3>

	<FORM METHOD="LINK" ACTION="users/sign_up">
	<INPUT TYPE="submit" VALUE="Get Started" class="btn btn-block btn-lg btn-inverse">
	</FORM>
</div>
