/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import 'flat_ui';

html, body {
   background-color:#ecf0f1;
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:125%;
   position:relative;
}
#header {
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {

    height:50px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;

}   

#footer_contents {
	padding:10px;
    height:100%; // Replace with the height your footer should be
    width: 100%; // Visible width of footer
    margin:auto;
}
#user_nav{
	color:white;
	position:absolute;
	top:0%;
	display:inline-block;
	right:0%;
}
	