// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#middle_align{
     position:absolute;
     padding-top:15px;
     width:700px;
     /* top:40%; */
     top:20%;
     left:25%;
     text-align:center;
     /* background-image:url(Planet.png);
     background-repeat: no-repeat;
     background-position:center; */
}

.img_right{
	float:right;
}

.img_left{
	float:left;
}

#flash_notice{
	text-align:center;
	background-color:yellow;
}