// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bootstrap-sprockets";
@import 'flat-ui/variables';
@import 'bootstrap';
@import 'flat-ui';

#recipe{
	border:solid;
	position:relative;
	left:30%;
	width:45%;
	background-color:#3498db;
	color:#ecf0f1;
	padding:5px;
	min-height: 60%;

}

.header{
	color: black;

}

#prev{
	left:30%;
	position:relative;
}

#next{
	position: relative;
	left: 65%
}

#options{
	position: absolute;
	display: inline;
	top: 30%;
	left: 2%;
	width: 25%;

}


