// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-----------Variables---------
$third-color:rgb(152, 210, 250);
$first-color:#34495e;
$second-color:#16a085;
$fourth-color:#59B6F5;


//----------Recipe Page---------
#recipe_page{
	position:absolute;
	width:100%;
	height:100%;
}

//----------Misc ---------------
.btn-danger{
	text-align:center;
}

.edit{
	color:white;
	font-size:20px;
}

.edit:hover{
	color:#E4F1FE;
}

.delete{
	color:white;
	font-size:20px;
	position:relative;
	left:83%;
}

.delete:hover{
	color:#E4F1FE;
}

#multiple_holder{
	border-color:$third-color;
	position:absolute;
	width:50%;
	left:28%;
	color:#ecf0f1;
	padding:5px;
	height: 100%;
}

//---------Sort Bar-----------
#sort_bar ul, #sort_bar li{
	display:inline;
}
#sort_bar li{
	border-right:2px solid $first-color;
	padding-right:6px;
}
 #sort_bar{
 	left:52%;
	position:relative;
	width:100%;
	color:black;

 }

//---------Main-----------
#main{
	position:absolute;
	width:25%;
	min-height:70%;

}


//-------Switch CSS-----


.onoffswitch {
    position: relative; 
   
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid black; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Search by taste";
    padding-left: 10px;
    background-color: #16a085; color: $first-color;
}
.onoffswitch-inner:after {
    content: "Search by what I have on hand";
    padding-right: 10px;
    background-color: $first-color; color: #16a085;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10%; margin: 0px;
    background: #16a085;
    border: 2px solid black; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 90%;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background:$first-color;
}

//---------Surprise Button------------


.surpriseMe {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #913D88;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 24px;
    /* left:14%; */
    display: inline;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px #7D1AA1, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px #7D1AA1, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px #7D1AA1, 0px 9px 25px rgba(0,0,0,.7);
	width: 15%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.surpriseMe:active {
    -webkit-box-shadow: 0px 3px 0px #7D1AA1, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #7D1AA1, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #7D1AA1, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.surpriseMe:hover{
	color:#E4F1FE;
}





//--------Query and Resuls---------

#recipe{
	border:solid;
	border-color:$first-color;
	position:relative;
	background-color:#16a085;
	color:#ecf0f1;
	padding:5px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;

}

#button_pads{
	padding:20px;
}

#general_pads{
	padding:20px;
}

.header{
	color: black;
	text-align:center;

}
.feedsContainer{
	background-color:$fourth-color;
    border-radius:7px;
	display:inline-block; 
	padding-right:3%;
	padding-left:3%;
	border:solid 2px $first-color;
}

.timeContainer{
	background-color:$fourth-color;
    border-radius:7px;
	display:inline-block; 
	padding-right:3%;
	padding-left:3%;
	border:solid 2px $first-color;
}

.costContainer{
	background-color:$fourth-color;
    border-radius:7px;
	display:inline-block;  
	padding-right:3%;
	padding-left:3%;
	border:solid 2px $first-color;
}

.skillContainer{
	background-color:$fourth-color;
    border-radius:7px;
	display:inline-block; 
	padding-right:3%;
	padding-left:3%;
	border:solid 2px $first-color;
	
}

.ingredientContainer{
	background-color:rgba(14, 59, 91, 0.66);
    border-radius:7px;
    padding:5%;
    margin:1%;
}

.stepContainer{
	background-color:$fourth-color;
    border-radius:7px;
    padding:5%;
    margin:1%;
	
}

.sourceContainer{
	text-align:center;
	color: rgb(171, 168, 168);
	font-weight:bold;
	font-style: italic;

}

#prev{
	position:relative;
	left: 25%;
	top:120%;
}

#next{
	position: relative;
	left: 60%;
	top:120%;
}

#optionsa{
	position: absolute;
	display: inline;
	left: 2%;
}

#optionsb{
	position: absolute;
	display: inline;
	left: 2%;
}

.holder{
    background-color:rgba(128, 167, 210, 0.18);
    border-radius:7px;
    padding:4%;
	text-align:center;
}

.culture{
	position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

$soy :"Soy.Sauce";
$oil : "Olive.Oil";
$artchoke: "Artchoke.Hearts";


@each $a in American, Chinese, Greek, Indian, Italian, Japanese, Kosher, Mexican, Thai, Beef, Chicken, Pork, Tofu, Turkey, Artchoke, Broccoli, Carrot, Corn, Peas, Spinach, Tomato, Cheese, Cream, $oil, Pasta, $artchoke, $soy, Wine{
	.#{$a} {
		display:none;
	}

	.#{$a}-label {
	    display: block; overflow: hidden; cursor: pointer;
	    border: 2px solid purple; border-radius: 5px;
	}

	input[type=checkbox].#{$a} + label.#{$a}-label
	{
		@if $a=="Soy.Sauce"{
			background: url(image_path("Soy Sauce.png")) no-repeat center center;
		}@else if $a=="Olive.Oil"{
			background: url(image_path("Olive Oil.png")) no-repeat center center;
		}
		@else if $a=="Artchoke.Hearts"{
			background: url(image_path("Artchoke Hearts.png")) no-repeat center center;
		}
		@else{
			background: image-url("#{$a}.png") no-repeat center center;
		}
		background-color:#C6D7E0;
		height: 32px;
		width: 32px;
		display:inline-block;
		padding: 0 0 0 0px;
	}
	input[type=checkbox]:checked.#{$a} + label.#{$a}-label
	{
		background-color:purple;
		height:32px;
		width: 32px;
		display:inline-block;
		padding: 0 0 0 0px;
	}
	
}


//--------New Recipe Form---------
#recipe_form{

	border:solid;
	border-color:$first-color;
	position:absolute;
	width:70%;
	left:17%;
	background-color:#16a085;
	color:#ecf0f1;
	padding:5px;
	padding-bottom: 10px;

}

#recipe_form onoffswitch-label{
	font-size:20px;
}

.feedback-input{
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	width:70%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}



select {
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
	background-color:white;
  background-repeat:no-repeat;
  background-position: right 10px top 10px;
  background-size: 16px 16px;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:black;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:10px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  border: 3px solid #2c3e50;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

.feedback-input-ingredients{
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 12px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

select.feedback-input-ingredients{
	width:25%;
	
}

textarea {
	overflow-y: auto;
	word-wrap:break-word
}

#steps textarea{
	margin:-5px;
}

input.feedback-input-ingredients, label.feedback-input-ingredients {
    display:block;
}

#recipe_skill{
	width:25%;
	text-align:center;
	
}
#recipe_feeds, #recipe_time, #recipe_cost{
	width:15%;
	text-align:center;
}


#recipe_type{
	width:25%;
	text-align:center;
}

#item_selected_keywords{
	width:auto;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #2c3e50;
	color: black;
	outline: none;
  	padding: 5px 5px 5px 5px;
}
.feedback-input-ingredients:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #2c3e50;
	color: black;
	outline: none;
  	padding: 5px 5px 5px 5px;
}
hr {
  background-color: #2c3e50;
  color:#2c3e50;
}


