// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#recipe{
	border:solid;
	border-color:#2c3e50;
	position:relative;
	left:30%;
	width:45%;
	background-color:#16a085;
	color:#ecf0f1;
	padding:5px;
	min-height: 60%;

}

.header{
	color: black;

}

#prev{
	left:30%;
	position:relative;
}

#next{
	position: relative;
	left: 65%
}

#options{
	position: absolute;
	display: inline;
	top: 30%;
	left: 2%;
	width: 25%;

}

#recipe_form{

	border:solid;
	border-color:#2c3e50;
	position:relative;
	left:30%;
	width:45%;
	background-color:#16a085;
	color:#ecf0f1;
	padding:5px;
	min-height: 60%;

}

.feedback-input{
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	width:70%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}



select {
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
	background-color:white;
  background-repeat:no-repeat;
  background-position: right 10px top 10px;
  background-size: 16px 16px;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:black;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:10px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  border: 3px solid #2c3e50;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

.feedback-input-ingredients{
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 12px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

}

select.feedback-input-ingredients{
	width:25%;
	
}

textarea {
	overflow-y: auto;
	word-wrap:break-word
}

input.feedback-input-ingredients, label.feedback-input-ingredients {
    display:block;
}

#recipe_skill{
	width:25%;
	text-align:center;
	
}
#recipe_feeds, #recipe_time, #recipe_cost{
	width:15%;
	text-align:center;
}


#recipe_type{
	width:45%;
	text-align:center;
}

#item_selected_keywords{
	width:auto;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #2c3e50;
	color: black;
	outline: none;
  	padding: 5px 5px 5px 5px;
}
.feedback-input-ingredients:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #2c3e50;
	color: black;
	outline: none;
  	padding: 5px 5px 5px 5px;
}
hr {
  background-color: #2c3e50;
  color:#2c3e50;
}


